@mixin style-text( $size, $color: $gray-9, $family: $font-primary, $weight: 400, $style: normal) {    
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    color: $color;      
}

